[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.7.4.post0"
asgiref = "==3.3.4"
async-timeout = "==3.0.1"
attrs = "==21.2.0"
certifi = "==2021.5.30"
chardet = "==4.0.0"
colorama = "==0.4.4"
dj-database-url = "==0.5.0"
django-cors-headers = "==3.7.0"
django-countries-with-calling-codes = "==0.1.1"
django-filter = "==2.4.0"
django-heroku = "==0.3.1"
djangorestframework = "==3.12.4"
geoip2 = "==4.2.0"
gunicorn = "==20.0.4"
idna = "==2.10"
maxminddb = "==2.0.3"
multidict = "==5.1.0"
psycopg2 = "==2.8.6"
pytz = "==2021.1"
requests = "==2.25.1"
sqlparse = "==0.4.1"
typing-extensions = "==3.10.0.0"
urllib3 = "==1.26.5"
whitenoise = "==5.2.0"
yarl = "==1.6.3"
Django = "==3.2.3"
Markdown = "==3.3.4"

[dev-packages]

[requires]
python_version = "3.9"
